.container-projects {
  background-color: #ccc;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: -100%;
  top: 0;
  overflow: hidden;

  .list-projects {
    display: inline-flex;
    flex-direction: horizontal;
    height: 100%;

    &--item {
      overflow: hidden;
      min-width: 0;
      height: 100%;
      background-color: #f00;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.6;
        transition: opacity 0.4s ease-in-out;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: #000;
        opacity: 0.8;
      }

      &:hover {
        &::after {
          opacity: 0;
        }
      }
    }
  }
}
